<footer class="footer" style="position: fixed; bottom:0px">
    <div class="container">
        <div class="row">
            <div class=""></div>
            <div class="col-12">
                <ul class="collapse navbar-collapse justify-content-center">
                    <li class=" nav-item col-3 ">
                        <a class="nav-link active " href="# ">Conditions of Use </a>
                    </li>
                    <li class="nav-item col-3 ">
                        <a class="nav-link " href="# ">Privacy Notice </a>
                    </li>
                    <li class="nav-item col-3 ">
                        <a class="nav-link " href="# ">Help</a>
                    </li>
                    <li class="nav-item col-3 ">
                        <a class="nav-link disabled " href="# ">Legal Notice</a>
                    </li>
                </ul>
            </div>
            <div class=" "></div>
        </div>


        <div class="row ">
            <div class=" "></div>
            <div class="col-12 text-center ">
                © 2016-2017, localus.com, Inc.
            </div>
            <div class=" "></div>
        </div>
    </div>
</footer>