<section class="lightSection clearfix pageHeader">
        <div class="container">
          <div class="row">
            <div class="col-xs-6">
              <div class="page-title">
                <h2>Edit Address</h2>
              </div>
            </div>
            <div class="col-xs-6">
              <ol class="breadcrumb pull-right">
                <li>
                  <a routerLink="/profile/business/manage">Address</a>
                </li>
                <li class="active">Edit</li>
              </ol>
            </div>
          </div>
        </div>
      </section>
      <section class="mainContent clearfix">
        <div class="container">
          <div class="page-header margin-bottom">
            <h4>EDIT</h4>
          </div>
      
          <div id="contact-form-1">
            <form id="contactForm" data-toggle="validator" [formGroup]="addressForm" novalidate autocomplete="off">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="">Address Line 1</label>
                      <span *ngIf="addressLine1.invalid && (addressLine1.dirty || addressLine1.touched)" class="form-error">
                          <span *ngIf="addressLine1.errors.required">
                              address Line 1 is required.
                          </span>
                          <span *ngIf="addressLine1.errors.minlength">
                              address Line 1 must be at least 4 characters long.
                          </span>                    
                      </span>
                    <input formControlName="addressLine1" class="form-control" type="text" placeholder="Address Line 1" required/>
                  </div>
                  <div class="form-group">
                    <label for="">Address Line 2</label>
                    <input formControlName="addressLine2" class="form-control" type="text" placeholder="Address Line 2" />
                  </div>
                  <div class="form-group">
                    <label for="">City</label>
                    <span *ngIf="city.invalid && (city.dirty || city.touched)" class="form-error">
                          <span *ngIf="city.errors.required">
                              city is required.
                          </span>
                          <span *ngIf="city.errors.minlength">
                              city must be at least 3 characters long.
                          </span>                    
                      </span>
                    <input formControlName="city" class="form-control" type="text" placeholder="City" required />
                  </div>
                  <div class="form-group">
                    <label for="">State</label>
                    <span *ngIf="state.invalid && (state.dirty || state.touched)" class="form-error">
                          <span *ngIf="state.errors.required">
                              state is required.
                          </span>
                          <span *ngIf="state.errors.minlength">
                              state must be at least 2 characters long.
                          </span>                    
                      </span>
                    <input formControlName="state" class="form-control" type="text" placeholder="State" />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="">Zip Code</label>
                    <span *ngIf="zipCode.invalid && (zipCode.dirty || zipCode.touched)" class="form-error">
                          <span *ngIf="zipCode.errors.required">
                              zip code is required.
                          </span>                                    
                      </span>
                    <input formControlName="zipCode" class="form-control" type="text" placeholder="Zip Code" />
                  </div>
                  <div class="form-group">
                    <label for="">Phone</label>
                    <span *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="form-error">
                          <span *ngIf="phone.errors.required">
                              phone is required.
                          </span>                                    
                      </span>
                    <input formControlName="phone" class="form-control" type="text" placeholder="Phone line" />
                  </div>
                  <button [disabled]="!addressForm.valid" type="button" (click)="update($event)" class="btn btn-md btn-primary-filled btn-form-submit">Save</button>
                  <button type="button" class="btn btn-link btn-block" routerLink="/profile/business/manage">Go Back</button>
                  <div class="clearfix"></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
      
      




<!-- 
<div class="card my-5">
    <div class="card-header bg-inverse text-white">
        New Address
    </div>
    <div class="card-block px-5">
        <form class="form-horizontal" [formGroup]="addressForm" novalidate autocomplete="off">
            <fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Address Line 1</label>
                            <div class=" ">
                                <input formControlName="addressLine1" class="form-control" type="text" placeholder="Address Line 1" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Address Line 2</label>
                            <div class=" ">
                                <input formControlName="addressLine2" class="form-control" type="text" placeholder="Address Line 2" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">City</label>
                            <div class=" ">
                                <input formControlName="city" class="form-control" type="text" placeholder="City" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">State</label>
                            <div class=" ">
                                <input formControlName="state" class="form-control" type="text" placeholder="State" />
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Country</label>
                            <div class=" ">
                                <input formControlName="country" class="form-control" type="text" placeholder="Country" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Zip Code</label>
                            <div class=" ">
                                <input formControlName="zipCode" class="form-control" type="text" placeholder="Zip Code" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Phone</label>
                            <div class=" ">
                                <input formControlName="phoneLine" class="form-control" type="text" placeholder="Phone line" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a class="btn btn-outline-danger form-control" routerLink="/home/business/manage">Cancel</a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn form-control btn-outline-success" (click)="update($event)">Save</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div> -->