<div class="container">
    <div class="bannercontainer bannerV4">
      <div class="fullscreenbanner-container">
        <div class="fullscreenbanner">
          <ul>
            <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" data-title="Slide 3">
              <img src="./../../assets/image/slider-img1.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
              <div class="slider-caption slider-captionV4">
                <div class="tp-caption rs-caption-2 sft" data-hoffset="0" data-x="85" data-y="115" data-speed="800" data-start="2000" data-easing="Back.easeInOut" data-endspeed="300">
                  <small>Winter Offer</small><br>
                  Up To 50% off
                </div>

                <div class="tp-caption rs-caption-3 sft" data-hoffset="0" data-x="85" data-y="240" data-speed="1000" data-start="3000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off">
                  Lorem ipsum dolor sit amet, consectetur adipisicing
                </div>
                <div class="tp-caption rs-caption-4 sft" data-hoffset="0" data-x="85" data-y="300" data-speed="800" data-start="3500" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off">
                  <span class="page-scroll"><a href="#" class="btn primary-btn">Buy Now<i class="glyphicon glyphicon-chevron-right"></i></a></span>
                </div>
              </div>
            </li>
            <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
              <img src="./../../assets/image/slider-img2.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
              <div class="slider-caption slider-captionV4">
                <div class="tp-caption rs-caption-2 sft" data-hoffset="0" data-x="85" data-y="115" data-speed="800" data-start="2000" data-easing="Back.easeInOut" data-endspeed="300">
                  <small>Winter Offer</small><br>
                  Up To 50% off
                </div>

                <div class="tp-caption rs-caption-3 sft" data-hoffset="0" data-x="85" data-y="240" data-speed="1000" data-start="3000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off">
                  Lorem ipsum dolor sit amet, consectetur adipisicing
                </div>
                <div class="tp-caption rs-caption-4 sft" data-hoffset="0" data-x="85" data-y="300" data-speed="800" data-start="3500" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off">
                  <span class="page-scroll"><a href="#" class="btn primary-btn">Buy Now<i class="glyphicon glyphicon-chevron-right"></i></a></span>
                </div>
              </div>
            </li>
            <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
              <img src="./../../assets/image/slider-img3.jpg" alt="slidebg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
              <div class="slider-caption slider-captionV4 text-center">
                <div class="tp-caption rs-caption-2 sft text-center" data-x="center" data-y="200" data-speed="800" data-start="2000" data-easing="Back.easeInOut" data-endspeed="300">
                  <small>Winter Offer</small><br>
                  Up To 50% off
                </div>

                <div class="tp-caption rs-caption-3 sft text-center" data-x="center" data-y="325" data-speed="1000" data-start="3000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off">
                  Lorem ipsum dolor sit amet, consectetur adipisicing
                </div>

                <div class="tp-caption rs-caption-4 sft text-center" data-x="center" data-y="385" data-speed="800" data-start="3500" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off">
                  <span class="page-scroll"><a href="#" class="btn primary-btn">Buy Now<i class="glyphicon glyphicon-chevron-right"></i></a></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>