<!--<div class="jumbotron jumbotron-fluid bg-faded">-->
<img src="../../assets/ji.png" class="img-fluid" style="height: 320px; width: 100%" alt="Responsive image">
<!--<h1 class="display-4">Registration/</h1>-->
<!--</div>-->
<div class="container-fluid">
    <div class="row">
        <div class="col-0 col-sm-2 col-md-3 col-lg-3"></div>
        <div class="col-12 col-sm-8 col-md-6 col-lg-6">
            <div class="card my-5">
                <div class="card-header bg-inverse text-white">
                    Create new account
                </div>
                <div class="card-block px-5">
                    <form class="form-horizontal" novalidate autocomplete="off" (ngSubmit)="register()" [formGroup]="registerationForm">
                        <fieldset>
                            <div class="form-group" [ngClass]="{'has-danger': registerationForm.get('email').errors }">
                                <label class="control-label" for="emailId">Email</label>

                                <div class="">
                                    <input class="form-control" id="emailId" type="text" placeholder="Email (required)" required minlength="3" formControlName="email" />
                                    <span class="help-block" *ngIf="(registerationForm.get('email').touched || registerationForm.get('email').dirty) && registerationForm.get('email').errors">
                            <span *ngIf="registerationForm.get('email').errors.required">
                                Please enter your first name.
                            </span>
                                    <span *ngIf="emailMessage">
                                The first email must be longer than 3 characters.
                            </span>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group" [ngClass]="{'has-danger': (registerationForm.get('firstName').touched || registerationForm.get('firstName').dirty) && !registerationForm.get('firstName').valid }">
                                <label class="control-label" for="firstNameId">First Name</label>

                                <div class="">
                                    <input class="form-control" id="firstNameId" type="text" placeholder="First Name (required)" formControlName="firstName" />
                                    <span class="help-block" *ngIf="(registerationForm.get('firstName').touched || registerationForm.get('firstName').dirty) && registerationForm.get('firstName').errors">
                            <span *ngIf="registerationForm.get('firstName').errors.required">
                                Please enter your first name.
                            </span>
                                    <span *ngIf="registerationForm.get('firstName').errors.minlength">
                                The first email must be longer than 3 characters.
                            </span>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group" [ngClass]="{'has-danger': (registerationForm.get('lastName').touched || registerationForm.get('lastName').dirty) && !registerationForm.get('lastName').valid }">
                                <label class="ccontrol-label" for="lastNameId">Last Name</label>

                                <div class="">
                                    <input class="form-control" id="lastNameId" type="text" placeholder="First Name (required)" formControlName="lastName" />
                                    <span class="help-block" *ngIf="(registerationForm.get('lastName').touched || registerationForm.get('lastName').dirty) && registerationForm.get('lastName').errors">
                            <span *ngIf="registerationForm.get('lastName').errors.required">
                                Please enter your first name.
                            </span>
                                    <span *ngIf="registerationForm.get('lastName').errors.minlength">
                                The first email must be longer than 3 characters.
                            </span>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group" [ngClass]="{'has-danger': (registerationForm.get('password').touched || registerationForm.get('password').dirty) && !registerationForm.get('password').valid }">
                                <label class="control-label" for="passwordId">Password</label>

                                <div class="">
                                    <input class="form-control" id="passwordId" type="text" placeholder="Password (required)" required minlength="8" formControlName="password" />
                                    <span class="help-block" *ngIf="(registerationForm.get('password').touched || registerationForm.get('password').dirty) && registerationForm.get('password').errors">
                            <span *ngIf="registerationForm.get('password').errors.required">
                                Please enter your first name.
                            </span>
                                    <span *ngIf="registerationForm.get('password').errors.minlength">
                                The first password must be longer than 3 characters.
                            </span>
                                    </span>
                                </div>
                            </div>
                            <button class="btn form-control my-2 rounded bg-inverse text-white">Create</button>
                        </fieldset>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-0 col-sm-2 col-md-3 col-lg-3"></div>
    </div>


    <div class="row">
        <div class=""></div>
        <div class="col-12">
            <ul class="collapse navbar-collapse justify-content-center">
                <li class=" nav-item col-3 ">
                    <a class="nav-link active " href="# ">Conditions of Use </a>
                </li>
                <li class="nav-item col-3 ">
                    <a class="nav-link " href="# ">Privacy Notice </a>
                </li>
                <li class="nav-item col-3 ">
                    <a class="nav-link " href="# ">Help</a>
                </li>
                <li class="nav-item col-3 ">
                    <a class="nav-link disabled " href="# ">Legal Notice</a>
                </li>
            </ul>
        </div>
        <div class=" "></div>
    </div>


    <div class="row ">
        <div class=" "></div>
        <div class="col-12 text-center ">
            © 2016-2017, localus.com, Inc.
        </div>
        <div class=" "></div>
    </div>
</div>