<div class="card my-5">
    <div class="card-header bg-inverse text-white">
        New Address
    </div>
    <div class="card-block px-5">
        <form class="form-horizontal" [formGroup]="addressForm" novalidate autocomplete="off" (ngSubmit)="add($event)">
            <fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Address Line 1</label>
                            <div class=" ">
                                <input formControlName="addressLine1" class="form-control" type="text" placeholder="Address Line 1" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Address Line 2</label>
                            <div class=" ">
                                <input formControlName="addressLine2" class="form-control" type="text" placeholder="Address Line 2" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">City</label>
                            <div class=" ">
                                <input formControlName="city" class="form-control" type="text" placeholder="City" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">State</label>
                            <div class=" ">
                                <input formControlName="state" class="form-control" type="text" placeholder="State" />
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Country</label>
                            <div class=" ">
                                <input formControlName="country" class="form-control" type="text" placeholder="Country" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Zip Code</label>
                            <div class=" ">
                                <input formControlName="zipCode" class="form-control" type="text" placeholder="Zip Code" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label class="control-label">Phone</label>
                            <div class=" ">
                                <input formControlName="phoneLine" class="form-control" type="text" placeholder="Phone line" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a routerLink="/home" class="btn btn-outline-primary">Cancel</a>
                    </div>
                    <div class="col-md-6">
                        <button class="btn form-control my-2 rounded bg-inverse text-white ">Add</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>