<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2>ACCOUNT DASHBOARD</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <a routerLink="/">Home</a>
          </li>
          <li class="active">ACCOUNT DASHBOARD</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="mainContent clearfix userProfile">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="btn-group" role="group" aria-label="...">
          <a routerLink="/profile" class="btn btn-default active"><i class="fa fa-th" aria-hidden="true"></i>Account Dashboard</a>
          <a routerLink="/profile/edit" class="btn btn-default"><i class="fa fa-user" aria-hidden="true"></i>Profile</a>
          <a routerLink="/profile/addresses" class="btn btn-default"><i class="fa fa-map-marker" aria-hidden="true"></i>My Address</a>
          <a class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i>All Orders</a>
          <a routerLink="/profile/wishlist" class="btn btn-default"><i class="fa fa-gift" aria-hidden="true"></i>Wishlist</a>
          <!-- conditional business buttons -->
          <a routerLink="/profile/activatebusiness" [ngClass]="{'hide': profile?.business.businessStatusType != 0}" class="btn btn-default"><i class="fa fa-money" aria-hidden="true"></i>Activate Business</a>
          <a routerLink="/profile/business/manage" [ngClass]="{'hide': profile?.business.businessStatusType != 2}" class="btn btn-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Manage Business</a>

          <!-- conditional business buttons -->

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="innerWrapper">
          <!-- conditional Info -->
          <div [ngClass]="{'hide': profile?.business.businessStatusType != 1}" class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <strong>Information!</strong> Your request to create a business in pending.
          </div>

          <div [ngClass]="{'hide': profile?.business.businessStatusType != 3}" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <strong>Attention!</strong> Your request to create a business has been rejected.
          </div>

          <div [ngClass]="{'hide': profile?.business.businessStatusType != 4}" class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <strong>warning!</strong> Your request to create a business needs further clarifications.
            <a class="alert-link" href="#" routerLink="/profile/business/status">Check Status</a>                     
          </div>

          <!-- Confitional Info -->

          <h3>Wellcome <span>{{profile?.firstName}} {{profile?.lastName}}</span></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </p>
          <ul class="list-inline">
            <li><a routerLink="/profile/edit" class="btn btn-default btn-lg"><i class="fa fa-user" aria-hidden="true"></i>Profile</a></li>
            <li><a routerLink="/profile/addresses" class="btn btn-default btn-lg"><i class="fa fa-map-marker" aria-hidden="true"></i>My Address</a></li>
            <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-list" aria-hidden="true"></i>All Orders</a></li>
            <li *ngIf="profile?.business.businessStatusType == 2; else alternative"><a routerLink="/profile/business/manage" class="btn btn-default btn-lg"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Manage Business</a></li>
            <ng-template #alternative><li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-gift" aria-hidden="true"></i>Wishlist</a></li></ng-template>
            <li><a routerLink="/profile/address" class="btn btn-default btn-lg"><i class="fa fa-plus-circle" aria-hidden="true"></i>New Address</a></li>
          </ul>
          <ul class="list-inline">
              <li><a routerLink="/auctions" class="btn btn-default btn-lg"><i class="fa fa-gavel" aria-hidden="true"></i>Auctions</a></li>
              <li><a routerLink="/auctions/create" class="btn btn-default btn-lg"><i class="fa fa-plus-circle" aria-hidden="true"></i>New Auction</a></li>              
            </ul>
          <div class="orderBox">
            <h4>Unpaid Orders</h4>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Order ID</th>
                    <th>Date</th>
                    <th>Items</th>
                    <th>Total Price</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>#252125</td>
                    <td>Mar 25, 2016</td>
                    <td>2</td>
                    <td>$ 99.00</td>
                    <td><a href="#" class="btn btn-default">Pay now</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="orderBox">
            <h4>Pending Warranty Claims</h4>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Order ID</th>
                    <th>Date</th>
                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>#252125</td>
                    <td>Mar 25, 2016</td>
                    <td>Z - 45263</td>
                    <td>Lorem ipsum doler</td>
                    <td><a href="#" class="btn btn-default">View</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
