<div class="header clearfix" style="height: auto;">

  <!-- TOPBAR -->
  <div class="topBar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-5 hidden-xs">
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
            <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-7 col-xs-12">
          <ul class="list-inline pull-right top-right">
            <li *ngIf="!isLoggedIn" class="account-login"><span><a routerLink="/authentication/login">Log in</a><small>or</small><a routerLink="authentication/register">Create an account</a></span></li>
            <li *ngIf="isLoggedIn" class="account-login"><span><a routerLink="/profile">welcome {{profile?.email}}</a></span></li>
            <li class="searchBox">
              <a href="javascript:void(0)"><i class="fa fa-search"></i></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li>
                  <span class="input-group">
                    <input [(ngModel)]="searchTerm" type="text" class="form-control" placeholder="Search…" (keypress)="keypressed($event)" aria-describedby="basic-addon2">
                    <button type="button" (click)="search()" class="input-group-addon">Submit</button>
                  </span>
                </li>
              </ul>
            </li>
            <li class="dropdown cart-dropdown">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i>{{itemsInCart?.orderDetails?.length}}</a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li>Item(s) in your cart</li>
                <li *ngFor="let item of itemsInCart?.orderDetails">
                  <a [routerLink]="['/item', item.id]">
                    <div class="media">
                      <img class="media-left media-object" style="max-height: 60px; max-width:50px;" [src]="placeholderImage" alt="cart-Image">
                      <div class="media-body">
                          <h5 class="media-heading">{{item.name}} <br><span>${{item.price}} x {{item.quantity}}</span></h5>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" routerLink="/cart">Shopping Cart</button>
                    <button type="button" class="btn btn-default" routerLink="/checkout">Checkout</button>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- NAVBAR -->

  <nav class="navbar navbar-main navbar-default" role="navigation" style="opacity: 1;">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
        <a class="navbar-brand" routerLink="/"><img src="" alt="logo"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse" style="margin-top: 0px;">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a routerLink="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
          </li>
          <li class="dropdown" [routerLinkActive]="['active']">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Article & News</a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a routerLink="/articles">Articles</a></li>
              <li><a routerLink="/news">News</a></li>
            </ul>
          </li>
          <li class="dropdown" [routerLinkActive]="['active']">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account</a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a routerLink="/profile">Dashboard</a></li>
              <li><a routerLink="/profile/edit">Profile</a></li>
              <li><a>All Orders</a></li>
              <li><a routerLink="/profile/wishlist">Wishlist</a></li>
              <li><a routerLink="/profile/addresses">Address</a></li>
            </ul>
          </li>
          <!-- <li class="dropdown megaDropMenu" [routerLinkActive]="['active']">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true"
              aria-expanded="false">Business</a>
            <ul class="dropdown-menu row">
              <li class="col-sm-6 col-xs-12">
                <ul class="list-unstyled">
                  <li>Business</li>
                  <li><a routerLink="/profile/business/manage">Manage Business</a></li>
                  <li><a routerLink="/profile/business/edit">Edit Business</a></li>
                  <li><a routerLink="/profile/business/address/edit">Business Address</a></li>
                </ul>
              </li>
              <li class="col-sm-6 col-xs-12">
                <ul class="list-unstyled">
                  <li>Items</li>
                  <li><a routerLink="/profile/business/manage/items">Items</a></li>
                  <li><a routerLink="/profile/business/manage/item/add">New Item</a></li>
                  <li class="listHeading">Category</li>
                  <li><a href="checkout-step-1.html">Categories</a></li>
                  <li><a href="checkout-step-2.html">New Category</a></li>
                </ul>
              </li>              
            </ul>
          </li>   -->
          <li class="dropdown" [routerLinkActive]="['active']">
              <a routerLink="/auctions" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Auctions</a>
            </li>       
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
  </nav>
</div>
