<!--<div class="jumbotron jumbotron-fluid bg-faded">-->
<img src="../../assets/ji.png" class="img-fluid" style="height: 320px; width: 100%" alt="Responsive image">
<!--<h1 class="display-4">Registration/</h1>-->
<!--</div>-->
<div class="container-fluid">
    <div class="row">
        <div class="col-0 col-sm-2 col-md-3 col-lg-3"></div>
        <div class="col-12 col-sm-8 col-md-6 col-lg-6">
            <div class="card my-5">
                <div class="card-header bg-inverse text-white">
                    Login
                </div>
                <div class="card-block px-5">
                    <form class="form-horizontal" [formGroup]="loginForm" novalidate autocomplete="off" (ngSubmit)="login($event)">
                        <fieldset>
                            <div class=" form-group ">
                                <label class="control-label " for="emailId ">Email</label>
                                <div class=" ">
                                    <input formControlName="email" class="form-control " id="emailId " type="text " placeholder="Email (required) " required minlength="3 " />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label " for="passwordId ">Password</label>

                                <div class=" ">
                                    <input formControlName="password" class="form-control " id="passwordId " type="text " placeholder="Password (required) " required minlength="8" />
                                </div>
                            </div>
                            <button class="btn form-control my-2 rounded bg-inverse text-white ">Login</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-0 col-sm-2 col-md-3 col-lg-3 "></div>
    </div>


    <div class="row ">
        <div class=" "></div>
        <div class="col-12 ">
            <ul class="collapse navbar-collapse justify-content-center ">
                <li class=" nav-item col-3 ">
                    <a class="nav-link active " href="# ">Conditions of Use </a>
                </li>
                <li class="nav-item col-3 ">
                    <a class="nav-link " href="# ">Privacy Notice </a>
                </li>
                <li class="nav-item col-3 ">
                    <a class="nav-link " href="# ">Help</a>
                </li>
                <li class="nav-item col-3 ">
                    <a class="nav-link disabled " href="# ">Legal Notice</a>
                </li>
            </ul>
        </div>
        <div class=" "></div>
    </div>


    <div class="row ">
        <div class=" "></div>
        <div class="col-12 text-center ">
            © 2016-2017, localus.com, Inc.
        </div>
        <div class=" "></div>
    </div>
</div>