<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2>Wishlist</h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <a routerLink="/">Home</a>
          </li>
          <li>
            <a routerLink="/profile">Profile</a>
          </li>
          <li class="active">Wishlist</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <wait-component [isActive]="isLoading" [message]="'Please Wait while we are loading your items.'"></wait-component>      
        <!-- search results -->
        <div class="row" *ngIf="wishlist?.length > 0; else nores">
          <div class="col-md-3 col-sm-4 col-xs-12" *ngFor="let res of wishlist">
            <div class="productBox">
              <div class="productImage clearfix">
                <img [src]="res.defaultImage || placeholderImage" alt="products-img" style="min-height: 300px; max-height: 300px;">                
                <div class="productMasking">
                  <ul class="list-inline btn-group" role="group">
                    <li (click)="removeFromWishlist(res)"><a class="btn btn-default"><i class="fa fa-minus-circle"></i></a></li>
                    <li><a (click)="addToCart(res)" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                    <li><a class="btn btn-default" [routerLink]="['/item', res.id]"><i class="fa fa-eye"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="productCaption clearfix">
                <a href="single-product.html">
                  <h5>{{res?.name}}</h5>
                </a>
                <h3>${{res.price}}</h3>
              </div>
            </div>
          </div>
        </div>

        <!-- pagination -->
        <!-- <div class="row">
            <div class="col-xs-12 text-center" [ngClass]="{'hidden': (total < size)}">            
              <div class="text-center margin-bottom">
                <ul class="pagination">
                  <li *ngIf="hasPrevious">
                    <a [routerLink]="['/search']" [queryParams]="{q: selected, page: currentIndex - 1, size: size }" aria-label="Previous">
                      <span aria-hidden="true">«</span>
                    </a>
                  </li>
                  <li class="" *ngFor="let i of numberOfPages" [ngClass]="{'active': (currentIndex + i) / (currentIndex + 1) == 1}"><a [routerLink]="['/search']" [queryParams]="{q: selected, page: currentIndex + i - 1, size: size }">{{i + currentIndex}}</a></li>
                  <li *ngIf="hasNext">
                    <a [routerLink]="['/search']" [queryParams]="{q: selected, page: currentIndex + 1, size: size }" aria-label="Next">
                      <span aria-hidden="true">»</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div> -->        
        <ng-template #nores class="row">
          <h3 *ngIf="!isLoading" style="text-align: center;">no results were found!</h3>
        </ng-template>
      </div>
    </div>
  </div>
</section>
